.row {
    width: 100%;
}

@media (min-width:992px) {
    .col-lg-4,
    .col-lg-8,
    .col-lg-12 {
        float: left;
        border: 1px solid green;
    }
    .col-lg-4 {
        width: 33, 3%;
    }
    .col-lg-8 {
        width: 66, 6%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media(min-width:768px) and (max-width:991px)) {
    .col-md-6,
    .col-md-12 {
        float: left;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media(max-width:767 px) {
    .col-sm-12 {
        float: left
    }
    .col-sm-12 {
        width: 100%;
    }
}